.delete-button {
  position: absolute;
  left: calc(100% + 10px);
  top: 9px;
}

.text {
  color: #00000060;
  line-height: 16px;
  text-align: center;
  margin-bottom: 12px;
}

.button-block {
  display: flex;
  justify-content: flex-end;
}