.close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 24px;
  left: 24px;
  width: 110px;
  height: 32px;
  opacity: .3;
  cursor: no-drop;
  pointer-events: none;
}

.social-icon {
  font-size: 20px;
}

.social-icon:hover {
  color: #1890ff;
}


.social-icon + .social-icon {
  margin-left: 10px;
}