.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-grow: 1;
}

.col.sort {
  flex: none;
}

.col.sort .form-item {
  margin-right: 0;
}

.col.width_50 {
  width: 50%;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}

.root .form-item-row {
  display: flex;
  align-items: center;
}

.form-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 10px;
  font-variant: tabular-nums;
  margin-bottom: 15px;
}

.form-item.flex .label {
  min-width: auto;
}

.label {
  flex-shrink: 0;
  min-width: 90px;
  padding-right: 5px;
}

.label label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 0;
}

.label label:after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}

.control {
  flex-grow: 1;
}