.root {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 280px;
  flex: none;
}

.sidebar-inner {
  position: -webkit-sticky;
  position: sticky;
}

.content {
  margin-left: 24px;
  flex-grow: 1;
}
